/* ---- IMPORTS ---- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@300&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.banner{
  background-image: linear-gradient(to right, #54a7ff, #5331ff);
  color: white;
  padding-top: 5%;
}

.banner h1{
  color: white;
  font-size: 3rem;
}

.banner h4{
  color: white;
}

#header {
  text-align: center;
}

#bingoNumber {
  text-align: center;
}

.bingoHeader {
  background: #e46060;
}

/* Style spacing of items inside of bingo board */
#bingoTable {
  margin: 0 auto;
  text-align: center;
  width: 600px;
  height: 600px;
  border-collapse: collapse;
  background: white;
}

/* Add borders between each box in bingo box */
th,
td {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  width: 20%;
}

/* Style FREE box in the center of the board */
#boxFree {
  background: #38c1eb;
}

#game {
  display: none;
}

#content {
  color: black!important;
}

#user-list {
  display: flex;
  justify-content: center;
}

/* toggles the Player connection */
.connected {
  font-weight: normal;
}

.connected span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}
