#header {
    text-align: center;
}

#bingoNumber {
    text-align: center;
}

.bingoHeader {
    background: #e46060;
}

/* Style spacing of items inside of bingo board */
#bingoTable {
    margin: 0 auto;
    text-align: center;
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    background: white;
}

/* Add borders between each box in bingo box */
th, td {
    font-family: Helvetica;
    margin: 0 auto;
    text-align: center;
    border: 3px solid black;
    width: 20%;
}

/* Style FREE box in the center of the board */
#boxFree {
    background: #38c1eb;
}